<!DOCTYPE html> 
<html lang="en">
   <head>
<meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <meta name="copyright" content="Copyright 2022 Imgur, Inc."/>
      <link rel="icon" type="image/png" href="https://s.imgur.com/images/favicon-32x32.png" sizes="32x32">
      <link rel="icon" type="image/png" href="https://s.imgur.com/images/favicon-96x96.png" sizes="96x96">
      <link rel="icon" type="image/png" href="https://s.imgur.com/images/favicon-16x16.png" sizes="16x16">
      <link rel="apple-touch-icon-precomposed" href="https://s.imgur.com/images/favicon-152.png">
      <link rel="alternate" media="only screen and (max-width: 640px)" href="https://imgur.com/">
      <meta property="og:site_name" content="Imgur"/>
      <title>gif</title>
      <meta property="og:url" data-react-helmet="true" content="https://imgur.com/a/b2sF2Ce">
      <meta name="twitter:image" data-react-helmet="true" content="https://i.imgur.com/4QXBcmah.jpg">
      <link rel="alternate" type="application/json+oembed" href="https://api.imgur.com/oembed.json?url=https://imgur.com/a/b2sF2Ce" title="Winter pew pew - Album on Imgur">
      <link rel="alternate" type="application/xml+oembed" href="https://api.imgur.com/oembed.xml?url=https://imgur.com/a/b2sF2Ce" title="Winter pew pew - Album on Imgur">
      <link rel="canonical" href="https://imgur.com/a/b2sF2Ce" data-react-helmet="true" >
      <meta name="robots" content="none" data-react-helmet="true" >
      <meta name="twitter:card" data-react-helmet="true" content="player">
      <meta name="twitter:player" data-react-helmet="true" content="https://64.media.tumblr.com/a7d81475cb13bfa02f6d1cb589ee9844/8666e20d95e2f3c8-57/s640x960/438c83b8340cf870dd053454dc6306df4f34c04e.gif">
      <meta name="twitter:player:height" data-react-helmet="true" content="854">
      <meta name="twitter:player:width" data-react-helmet="true" content="640">
      <meta name="twitter:player:stream" data-react-helmet="true" content="https://i.imgur.com/4QXBcma.mp4">
      <meta name="twitter:player:stream:content_type" data-react-helmet="true" content="video/mp4">
      <meta name="description" data-react-helmet="true" content="Discover the magic of the internet at Imgur, a community powered entertainment destination. Lift your spirits with funny jokes, trending memes, entertaining gifs, inspiring stories, viral videos, and so much more from users like 24050406.">
      <meta name="twitter:title" data-react-helmet="true" content="Winter pew pew">
      <meta name="twitter:description" data-react-helmet="true" content="Discover the magic of the internet at Imgur, a community powered entertainment destination. Lift your spirits with funny jokes, trending memes, entertaining gifs, inspiring stories, viral videos, and so much more from users like 24050406.">
      <meta property="og:title" data-react-helmet="true" content="Winter pew pew">
      <meta property="og:description" data-react-helmet="true" content="Discover the magic of the internet at Imgur, a community powered entertainment destination. Lift your spirits with funny jokes, trending memes, entertaining gifs, inspiring stories, viral videos, and so much more from users like 24050406.">
	  
	  </head>
	  <body>