{{define "videoplayer"}}

<video draggable="false" playsinline="" loop="" class="" hash="4QXBcma" title="Winter-pew" style="width: 640px; height: 854px;" autoplay=""><source type="video/mp4" src="https://i.imgur.com/4QXBcma.mp4"></video>

<video autoplay="" class="embedVideo-2ixt5A embedMedia-1mdWSP" poster="https://images-ext-1.discordapp.net/external/aZCGIvVCyOMg8rNQHekIWRQlcrKSu3dUMr4NfrgG3ok/https/i.imgur.com/4QXBcmah.jpg?width=322&amp;height=430" src="https://images-ext-1.discordapp.net/external/hcG8KVUtfuAVHNto-cCU5xLQA-SDzXN4FegkRJpwNdw/https/i.imgur.com/4QXBcma.mp4" width="322" height="430" loop="" preload="none" aria-label="GIF" style="max-width: 322px; max-height: 430px; width: 100%; height: 100%;"></video>

{{end}}

